@import "tailwindcss";

@theme {
    --font-rubik: Rubik;
    --font-poppins: Poppins;
    --font-inter: Inter;
}

@layer base {
    p {
        @apply text-[16px] xl:text-[20px] font-[Rubik] text-white;
    }
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    background:
            linear-gradient(
                    to right,
                    #FF6A00,
                    #FFB400
            );
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
